body {
	background: #141414;
	color: #ffffff;
}

.movie-app > .row {
  display: flex; /* Ensure flex display is applied */
  overflow-x: auto; /* Enable horizontal scrolling */
  flex-wrap: nowrap; /* Prevent wrapping */
  margin: 0; /* Remove margin around the row */
  padding: 0; /* Remove padding around the row */
}


.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

@media (min-width: 768px) { /* Adjust the min-width value as needed */
    .movie-app > .row {
        gap: 20px; /* Increase or decrease this value for desktop spacing */
    }

    .image-container {
        margin: 0 10px; /* Adjust spacing between posters */
        width: auto; /* Ensure width is appropriate */
    }

    img {
        width: 200px; /* Adjust as necessary for desktop */
    }
}
